{% extends 'base.html' %}
{% block title %}
    DQM main tool
{% endblock %}

{% block content %}

    <style>
    .content-left, .content-middle {
        border-right: 1px solid white;
        height: 95vh;
    }
    #content-left-second {
        margin-top: 5vh;
        margin-right: 2vh;
        text-align: center;
        text-decoration: underline
    }
    h4 {
        text-align:center;
        margin-bottom: 5%;
        text-decoration: underline;

    }

    .form-inline{
    margin: 0 auto;
    width:55%
    }

    th {
        text-align:center
    }

    </style>

    <div class="row" style="margin-left:20px; margin-top:20px">
        <div class="col-5 text-center">
           <div class="content-left">
                <h4>1: Válasszon adatforrást!</h4>
               <span>
                    <form class="form-inline" action="/dqm" method="POST" enctype="multipart/form-data">
                        {{ form_browser.hidden_tag() }}
                        <div class="input-group">
                            {{ form_browser.input_file(id="my-file-selector", class="form-control") }}
                        </div>
                        <input id="file_browser" name="file_browser" hidden=True value="Feltöltés">
                        {{ form_browser.submit(class="btn btn-info" ) }}
                    </form>
               </span>
               <div id="content-left-second">
                   {% if eda is defined %}
                       <h5>Adatforrás tulajdonságai</h5>
                       {% for table in eda %}
                         {{ table|safe }}
                       {% endfor %}
                       <form class="form-group" action="/dqm" method="POST" enctype="multipart/form-data">
                            {{ form_upload.hidden_tag() }}
                            {{ form_upload.name(class="form-control") }}
                            <input id="file_upload" name="file_upload" hidden=True value="Feltöltés">
                            {{ form_upload.submit(class="btn btn-success btn-block") }}
                       </form>
                       <form class="form-group" action="/dqm" method="POST" enctype="multipart/form-data">
                           <input id="file_no_action" name="file_no_action" hidden=True value="NoACtion">
                           {{ form_no_action.submit(class="btn btn-danger btn-block") }}
                        </form>
                   {% endif %}
               </div>
           </div>
        </div>
        <div class="col-4">
            <div class="content-middle">
               <h4>2: Importált adatforrások</h4>
           </div>
        </div>
        <div class="col-3">
            <div class="content-right">
               <h4>3: Műveletek</h4>
           </div>
        </div>
    </div>
{% endblock %}

