<style>
  .modal-content{
    background-color:#212121
  }
</style>

<div class="modal fade" id="Modal-Remove-DataSet"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="col-12 modal-title text-center" id="ModalLabel">
            Adatforrás eltávolítás
          </h5>
        </div>
        <div class="modal-body">
          <form method="POST">
            {{ remove_data_set.hidden_tag() }}
            <h6 class="text-center">
              Válassza ki, hogy melyik forrást szeretné törölni az adatbázisból!
            </h6>
            <br>
            {{ remove_data_set.select_removeable_dataset(class="form-control")}}
            <br>
            <input id="remove_data_set" name="remove_data_set" type="hidden" value="remove_data_set">
            {{ remove_data_set.submit(class="btn btn-outline-danger btn-block") }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="Modal-Remove-Duplication"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="col-12 modal-title text-center" id="ModalLabel2">
            Duplikáció szűrés
          </h5>
        </div>
        <div class="modal-body">
          <form method="POST">
            {{ remove_duplication.hidden_tag() }}
            <h6 class="text-center">
              Válassza ki a kívánt adatforrást!
            </h6>
            <br>
            {{ remove_duplication.select_duplication_dataset(class="form-control")}}
            <br>
            <h6 class="text-center">
              Mely értékeket kívánja meghagyni?
            </h6>
            <br>
            {{ remove_duplication.select_duplication_dataset_mode(class="form-control")}}
            <br>
            <h6 class="text-center">
              Mely oszlopra szeretné a duplikáció vizsgálatot elvégezni? Hagyja üresen, ha nincs kiválasztott oszlop!
            </h6>
            <br>
            {{ remove_duplication.col_name(class="form-control")}}
            <br>
            <input id="remove_duplication" name="remove_duplication" type="hidden" value="remove_duplication">
            {{ remove_duplication.submit(class="btn btn-outline-info btn-block") }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="Modal-Sort-Dataset"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="col-12 modal-title text-center" id="ModalLabel3">
            Adatforrás sorbarendezés
          </h5>
        </div>
        <div class="modal-body">
          <form method="POST">
            {{ sort_data_set.hidden_tag() }}
            <h6 class="text-center">
              Válassza ki a kívánt adatforrást!
            </h6>
            <br>
            {{ sort_data_set.select_sort_dataset(class="form-control")}}
            <br>
            <h6 class="text-center">
              Melyik oszlop/oszlopok alapján szeretné a sorbarendezést elvégezni? Sorolja fel őket ','-vel elválasztva és kezdje a legfontosabbal!
            </h6>
            <br>
            {{ sort_data_set.col_name(class="form-control")}}
            <br>
            <h6 class="text-center">
              Csökkenő vagy növekvő sorrend?
            </h6>
            <br>
            {{ sort_data_set.sort_mode(class="form-control")}}
            <br>
            <input id="sort_data_set" name="sort_data_set" type="hidden" value="sort_data_set">
            {{ sort_data_set.submit(class="btn btn-outline-info btn-block") }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="Modal-Join-Datasets"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="col-12 modal-title text-center" id="ModalLabel4">
            Adatforrások Összekapcsolása
          </h5>
        </div>
        <div class="modal-body">
          <form method="POST">
            {{ join_data_sets.hidden_tag() }}
            <div class="row">
              <div class="col-6" style="border-right: 1px solid white; border-right, border-bottom: 2px solid white">
                <h6 class="text-center">
                  Válassza ki az első adatforrást!
                </h6>
                <br>
                {{ join_data_sets.select_dataset_1(class="form-control")}}
                <br>
                <h6 class="text-center">
                  Adja meg az első adatforráshoz tartozó kapcsoló oszlopot!
                </h6>
                <br>
                {{ join_data_sets.join_col_name_dataset_1(class="form-control")}}
              </div>
              <div class="col-6" style="border-left: 1px solid white; border-right, border-bottom: 2px solid white">
                <h6 class="text-center">
                  Válassza ki a kapcsolható adatforrást!
                </h6>
                <br>
                {{ join_data_sets.select_dataset_2(class="form-control")}}
                <br>
                <h6 class="text-center">
                  Adja meg a összekötő második adatforrás kapcsoló oszlopát!
                </h6>
                <br>
                {{ join_data_sets.join_col_name_dataset_2(class="form-control")}}
              </div>
            </div>
            <br>
            <hr style="background-color:white">
            <div class="row">
              <div class="col-12">
                <h6 class="text-center">
                  Definiálja a JOIN típusát az adatforrások között!
                </h6>
                <br>
                {{ join_data_sets.join_mode(class="form-control")}}
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="text-center">
                  Előállt új entitás azonosítója:
                </h6>
                {{ join_data_sets.new_dataset_name(class="form-control")}}
              </div>
              <div class="col-6">
                <h6 class="text-center">
                  Előállt új entitás fizikai neve: (.csv, .xlsx)
                </h6>
                {{ join_data_sets.new_dataset_physical_name(class="form-control")}}
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-12">
                <input id="join_data_sets" name="join_data_sets" type="hidden" value="join_data_sets">
                {{ join_data_sets.submit(class="btn btn-outline-info btn-block") }}
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="Modal-Remove-Cells"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="col-12 modal-title text-center" id="ModalLabel5">
            Adatforrás mező eltávolítás
          </h5>
        </div>
        <div class="modal-body">
          <form method="POST">
            {{ remove_cells.hidden_tag() }}
            <h6 class="text-center">
              Válassza ki, hogy melyik forrás mezőjét szeretné törölni az adatbázisból!
            </h6>
            <br>
            {{ remove_cells.select_dataset_remove_cells(class="form-control") }}
            <br>
            <h6 class="text-center">
              Sorolja fel, hogy melyik forrás mezőt/mezőket szeretné törölni az adatbázisból ","-vel elválasztva!
            </h6>
            <br>
            {{ remove_cells.select_removeable_cells(class="form-control") }}
            <br>
            <input id="remove_cells" name="remove_cells" type="hidden" value="remove_cells">
            {{ remove_cells.submit(class="btn btn-outline-danger btn-block") }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="Modal-Clean-Text"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="col-12 modal-title text-center" id="ModalLabel6">
            Szöveges mező tisztítás
          </h5>
        </div>
        <div class="modal-body">
          <form method="POST">
            {{ remove_cells.hidden_tag() }}
            <h6 class="text-center">
              Válassza ki az adatforrást!
            </h6>
            <br>
            {{ clean_text.select_dataset_clean_text(class="form-control") }}
            <br>
            <h6 class="text-center">
              Adja meg a tisztítandó mező nevét!
            </h6>
            <br>
            {{ clean_text.select_clean_text(class="form-control") }}
            <br>
            <h6 class="text-center">
              Adja meg az elválasztót, ami alapján szétbontásra kerül az előző mező!
            </h6>
            <br>
            {{ clean_text.select_separator(class="form-control") }}
            <br>
            <h6 class="text-center">
              Adja meg az új mezők nevét vesszővel (,) elválasztva
            </h6>
            <br>
            {{ clean_text.new_columns(class="form-control") }}
            <br>
            <input id="clean_text" name="clean_text" type="hidden" value="clean_text">
            {{ clean_text.submit(class="btn btn-outline-info btn-block") }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
</div>

